<div class="eu:container sm:container sm:mx-auto">
  <%= render partial: 'post/indexNav', :locals => {:currentPage => 'archive'} %>

  <ul role="list" class="mainlist py-5 my-2">
    <%= render partial: 'post/index', :locals => {:posts => @closed} %>
  </ul>
</div>
