<div class="container mx-auto px-64">
  <div class="text-2xl flex justify-center uppercase mt-10">Today I Learned</div>

  <button class="bg-sky-600 hover:bg-sky-700 text-white">
    <%= link_to("New Issue", "/post/new") %>
  </button>
  <ul role="list" class="p-6">
    <% @posts.each do |post| %>
      <li class="pb-2">
        <div>
          <p class="title text-lg underline decoration-sky-400 hover:decoration-blue-600">
          <%= link_to(post.title, "/post/#{post.id}") %>
          </p>
          <span class="date text-sm text-gray-400 pl-1">
            <%= "##{post.id}  created on #{post.created_at.strftime("%b %0d")}" %>
          </span>
        </div>
      </li>
    <% end %>
  </ul>
</div>
