<div class="eu:container mx-auto">
  <%= render partial: 'post/indexNav', :locals => {:currentPage => 'archive'} %>

  <ul role="list" class="mainlist py-5 my-2 border-b-2 dark:border-[#373b4c]">
    <%= render partial: 'post/index', :locals => {:posts => @closed} %>
  </ul>
</div>
