<%= javascript_pack_tag "search" %>
<%= javascript_pack_tag "archive" %>

<div class="eu:container mx-auto">
  <%= render partial: "post/indexNav", :locals => {:currentPage => 'home'} %>
  <ul role="list" class="py-5 my-2">
    <%= render partial: 'post/index', :locals => {:posts => @posts} %>
  </ul>
</div>
